#about{
    background-image: url(http://lukoan.com/tf/tej/assets/images/about-me.jpg);
    background-repeat: no-repeat;
    background-position: left 10% bottom;
    background-size: 40% auto;
}
.about-button{
    padding: 15px 30px;
    border: 1px solid black;
    font-size: 10px;
    margin: 0 5px;
    color: black;
    &:hover{
        background-color: black;
        color: white !important;
        font-weight: 700;
    }
}
.buttons-group{
    margin-top: 30px;
}
