#counter{
    padding: 100px 0;
    background-image: url(https://trax.acrothemes.com/bootstrap-v5/images/counter-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    h2{
        font-size: 100px !important;
    }
    .row{
        text-align: center;
    }
    p{
        font-size: 16px;
    }
}